.rol {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rol__content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 3px solid var(--ruby-red);
  border-radius: 12px;
  background-color: white;
  width: 690px;
  height: 290px;
  padding: 0 30px;
}

.rol__light-image {
  width: 80%;
  position: absolute;
  right: -330px;
  bottom: -90px;
}

.rol__thief-image {
  width: 50%;
  position: absolute;
  right: -215px;
  bottom: -100px;
}

.rol__text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.rol__title {
  font-weight: normal;
  font-size: 3rem;
  text-shadow: 3px 0 0 var(--cherry-red-shadow);
}

.rol__options {
  width: 100%;
  display: flex;
  gap: 180px;
  justify-content: center;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .rol__content {
    width: 530px;
    height: 270px;
  }

  .rol__light-image {
    width: 80%;
    position: absolute;
    right: -200px;
    bottom: -35px;
  }

  .rol__thief-image {
    width: 50%;
    position: absolute;
    right: -145px;
    bottom: -50px;
  }

  .rol__title {
    font-size: 2.7rem;
  }

  .rol__options {
    gap: 130px;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .rol__content {
    width: 530px;
    height: 270px;
  }

  .rol__light-image {
    width: 80%;
    position: absolute;
    right: -200px;
    bottom: -35px;
  }

  .rol__thief-image {
    width: 50%;
    position: absolute;
    right: -145px;
    bottom: -50px;
  }

  .rol__title {
    font-size: 2.7rem;
  }

  .rol__options {
    gap: 130px;
  }
}
