.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 12vh;
  gap: 20px;
  background-image: url(../../assets/image/home-background.png);
  background-repeat: no-repeat;
  background-size: cover;
}
