.game-data {
  width: 85%;
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 0 20px;
}

.game-data__data-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.2rem;
  gap: 25px;
}

.game-data__data {
  border: 3px solid var(--soft-red);
  width: 200px;
  height: 55px;
  text-align: center;
  align-content: center;
  border-radius: 25px;
  background-color: var(--light-yellow);
}

.game-data__data-value {
  border: 3px solid var(--light-yellow);
  width: 230px;
  height: 55px;
  text-align: center;
  align-content: center;
  border-radius: 25px;
  background-color: var(--soft-orange);
  text-shadow: 3px 0 0 var(--cherry-red-shadow);
}

.game-data__steps {
  margin-right: 15px;
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .game-data {
    width: 100%;
    padding: 0;
  }

  .game-data__data-box {
    font-size: 2rem;
  }
}
