.game {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  padding: 20px 100px;
}

.game__options {
  width: 37%;
  min-height: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .game {
    justify-content: space-around;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .game {
    padding: 20px 70px;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .game {
    padding: 20px 70px;
  }
}
