:root {
  --font-family: "Bangers", system-ui;
  --soft-red: #f44336;
  --light-yellow: #ffde59;
  --soft-orange: #ff964e;
  --cherry-red: #fe0336;
  --cherry-red-shadow: rgba(254, 3, 54, 0.5);
  --canary-yellow: #fac93d;
  --canary-yellow-shadow: rgba(250, 201, 61, 0.5);
  --ruby-red: #f44336;
  --gradient-yellow-orange: linear-gradient(to right, #ffde59, #ff964e);
  --electric-blue: #0f82fd;
  --blood-red: #fe0336;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  width: 100%;
  min-width: 100vh;
  background-image: url(./assets/image/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
}
